:root {
  --primary-color: #e50914;
  --background-color: #141414;
  --text-color: #fff;
  --font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem; 
}

.home__title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 0.5rem; 
}

.home__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home__image {
  width: 50px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 3px;
  box-shadow: 0 4px 8px rgb(228, 229, 216);
}

.home__start-button {
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.1s;
}

.home__start-button:hover {
  background-color: #b20710;
  transform: translateY(-3px);
}

/* Responsive styles */
@media (max-width: 768px) {
  .home__title {
    font-size: 2rem;
  }

  .home__start-button {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    gap: 1rem; 
  }

  .home__image {
    width: 40px;
  }
}

@media (max-width: 480px) {
  .home__title {
    font-size: 1.5rem;
  }

  .home__start-button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    gap: 1rem; 
  }

  .home__image {
    width: 30px;
  }
}

@media (max-width: 390px) {
  .home__start-button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    gap: 1rem; 
  }

  .home__image {
    width: 40px;
  }

  .home__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
  }
  
  .home__title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1rem; 
  }
}
