.card {
  cursor: pointer;
  perspective: 1000px;
  width: 300px;
  margin: auto;
  background-color: var(--secondary-color);
  color: var(--text-color);
  position: relative;
}

.card-inner {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform-origin: center;
}

.card.flip .card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  word-wrap: break-word;
  line-height: 1.4;
  word-spacing: 0px; 
  text-align: left; 
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  word-wrap: break-word;
  font-size: 0.9em;
  line-height: 1.4;
  word-spacing: 0px; 
}

.front {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.back {
  background-color: var(--primary-color);
  color: var(--text-color);
  transform: rotateY(180deg);
}
