:root {
  --primary-color: #e50914; 
  --secondary-color: #221f1f;
  --background-color: #141414; 
  --text-color: #fff;
  --font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

body {
  margin: 0;
  font-family: var(--font-stack);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5; 
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 67px;
}

.card {
  background-color: var(--secondary-color);
  border: none; 
  border-radius: 4px; 
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8); 
}

.button {
  flex: 0;
  background-color: #e50914;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
  flex: 0 0 auto;
  margin-left: 0.5rem;
  text-decoration: none;
  text-align: center;
  width: 5rem;
  transition: background-color 0.2s, transform 0.1s;
}

.button:hover {
  background-color: #f40612;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background: var(--background-color);
}

.home__title {
  font-size: 3rem; 
  margin-bottom: 2rem;
  font-weight: 700; 
}

.home__start-button {
  padding: 20px 40px; 
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.5rem; 
  transition: background-color 0.3s ease, transform 0.1s;
}

.home__start-button:hover {
  background-color: darken(var(--primary-color), 10%);
  transform: translateY(-3px); 
}

@media screen and (max-width: 600px) {
  .card-grid img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}


/* :root {
  --font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --background-color: #141414;
  --text-color: #fff;
}

body {
  margin: 0;
  font-family: var(--font-stack);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5; 
} */

